body {
  font-family: 'Oswald', serif;
  font-size: 48px;
}

p {
  font-family: 'Open Sans' sans-serif;
  font-size: 14px !important;
  text-align: justify;
}

.nav-link {
  font-size: 30px;
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #212528 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar {
  border-bottom: 1px solid black;
}

.frontpage {
  /* The image used */
  background-image: url("../images/drone02.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frontpage .title {
  margin: 2em 100px 0em 100px;
  text-align: center;
  color: #dddddd;
  font-size: 3em;
  border-bottom: 20px solid #d3413f;
}

.frontpage .subtitle {
  margin-top: 0.5em;
  text-align: center;
  color: #9b9da0;
  font-size: 40px;
  font-family: "Open Sans";
}

@media screen and (max-width: 500px) {
  .frontpage .title {
    float: none;
    display: block;
    font-size: 1em;
    margin-top: 3em;
  }

  .frontpage .subtitle {
    margin-top: 0.5em;
    text-align: center;
    color: #9b9da0;
    font-size: 20px;
    font-family: "Open Sans";
  }
}

.min-frontpage {
  /* The image used */
  background-image: url("../images/drone02.jpeg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 106px;
}

.seminars {
  background-image: url("../images/background2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seminars .title {
  margin-top: 1em;
  text-align: center;
  color: black;
  font-size: 1.5em;
  text-decoration: underline;
  text-transform: uppercase;
}

.seminars .link {
  text-align: center;
  font-size: 0.6em;
  margin-bottom: 1em;
}

.seminars .carousel {
  margin-top: 0.8em;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: "Open Sans";
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .seminars .title {
    margin-top: 1em;
    text-align: center;
    color: black;
    font-size: 1em;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .seminars .carousel {
    display: none;
  }
}

.workshops {
  background-color: #d3413f;
  height: 100%;
}

.workshops .title {
  margin-top: 1em;
  text-align: center;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
}

.workshops .subtitle {
  margin-top: 0.8em;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-size: 1em;
  font-family: "Open Sans";
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .workshops {
    font-size: 0.8em;
  }
}

.summercamps {
  background-color: #dae1e7;
  height: 100%;
}

.summercamps .title {
  margin-top: 1em;
  text-align: center;
  color: #48586f;
  font-size: 1.5em;
  text-transform: uppercase;
}

.summercamps .subtitle {
  margin-top: 0.8em;
  margin-bottom: 100px;
  text-align: center;
  color: #48586f;
  font-size: 1em;
  font-family: "Open Sans";
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .summercamps
   {
    font-size: 0.8em;
  }
}

footer {
  padding: 1em;
  font-size: 20px;
  color: #dddddd;

  text-align: center;

  /* The image used */
  background-image: url("../images/drone02.jpeg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  color: #dddddd;
}

.carousel-item {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  border-left: 1px;
  border-right: 1px;
}

.carousel-item-main {
  min-height: 350px;
}

.carousel-item-seminarseries {
  min-height: 350px;
}

.carousel-item h3, h2, h4, h5 {
  font-family: "Oswald" sans-serif;
  color: black;
}

.carousel-item h2 {
  font-size: 2em;
}

.carousel-item h3 {
  font-size: 0.8em;
}

.carousel-item h5 {
  font-size: 0.7em;
}

.carousel-item h4 {
  margin-top: 1em;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000 ' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.seminars a {
  color: #c00;
}

footer p {
  text-align: center;
}
