      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="images/logo.png" alt="VedPH" height="80"></img></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/#seminars">Seminars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#workshops">Workshops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#summercamps">Summercamps</a>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="https://www.twitter.com/venicedph"><i class="fa fa-twitter" style="font-size:24px"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/vedph"><i class="fa fa-github" style="font-size:24px"></i></a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="mailto:vedph@unive.it"><i class="fa fa-envelope" style="font-size:24px"></i></a>
              </li>
            </ul>

          </div>
        </div>
      </nav>

